*{ /* reset sizing*/
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body > header{
    background: #2f3640;
    padding: 16px 0;
    color: #ececec;
}
header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header li{
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    margin-left: 16px;
}
header li a{
    text-decoration: none;
}
header li a:hover{
    text-decoration: underline;
}

header li a{
    color: #f5f6fa;
}

.container{
    width: 1366px;
    margin: 0 auto;
}
.articles{
    display: flex;
    justify-content: space-between;
}
.articles article img{
    /*height: 180px; */
    width: 90%;

}
.articles article p{
    width: 89%;
}
.article article{
    width: 30%;
}
section{
    padding: 16px 0;
}
section h2,
.articles article{
    margin-bottom: 16px;
}
section h2{
    font-size: 32px;
}
.articles article h3{
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 24px;
}
.articles article a{
    background: blue;
    color: #fff;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;
}
.articles article a:hover{
    text-decoration: underline;
}
.article article p
.article article a{
    font-family: Arial, Helvetica, sans-serif;
}
#sports{
    background-color: rgba(0, 225, 0, 0.1);
}
#sports .articles article a{
    background-color: #009432;
}
#economy{
background-color: #f8f59f;

}
#economy .articles article a{
background-color: #ff9f1a;
}
#tecnology{
    background-color: rgba(225, 0, 0, 0.1);
}
#tecnology .articles article a{
    background-color: #964949;
}
#international{
background-color: #9fe3f881;

}
#international .articles article a{
background-color: #2d8588;
}